Task_Management_System/.vs/Task_Management_System/FileContentIndex/4eceab00-f623-4167-ad0b-ad3ef6ef9834.vsidx
Task_Management_System/.vs/Task_Management_System/FileContentIndex/bcdffbb9-a39c-4375-9220-41bcb6ff70a7.vsidx
Task_Management_System/.vs/Task_Management_System/FileContentIndex/d88b96c7-e689-4795-ac90-73a6be9adc99.vsidx
Task_Management_System/.vs/Task_Management_System/FileContentIndex/d263037f-2a0f-4b05-9e39-c268260d6c37.vsidx
Task_Management_System/.vs/Task_Management_System/FileContentIndex/6372ac75-82a9-4a4a-b9a6-8b5dcd956a6b.vsidx
Task_Management_System/.vs/Task_Management_System/copilot-chat/f8ee936e/sessions/393bc009-1b8f-43dd-b0f4-f247b0d38ba5
Task_Management_System/.vs/Task_Management_System/CopilotIndices/0.2.1657.32929/CodeChunks.db
Task_Management_System/.vs/Task_Management_System/CopilotIndices/0.2.1657.32929/CodeChunks.db-shm
Task_Management_System/.vs/Task_Management_System/CopilotIndices/0.2.1657.32929/CodeChunks.db-wal
Task_Management_System/.vs/Task_Management_System/CopilotIndices/0.2.1657.32929/SemanticSymbols.db
Task_Management_System/.vs/Task_Management_System/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-shm
Task_Management_System/.vs/Task_Management_System/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-wal
